@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

:root {
 --clr: #222327
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr);
}

.navigation{
    width: 400px;
    height: 70px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.navigation ul{
    display: flex;
    width:350px ;   
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li .link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 900px;
    font-size: 1.2em;
}

.navigation ul li .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr)
}

.navigation ul li:hover .link .icon {
    transform: translateY(-50px);
}

.navigation ul li .link .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400px;
    font-size: 0.75;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
}

.navigation ul li:hover .link .text {
    opacity: 1;
    transform: translateY(-10px);

}